input.ng-touched.ng-invalid {
	border: 2px solid red;
}

.loadingIcon {
	height:30px;
	width:200px;
	/* padding:10px; */
	margin:auto 0;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -100px;
	margin-top:-35px;
	/* background-color:rgba(0,0,0,.1); */
	/* -webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	border-radius:20px; */
	/* -webkit-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-ms-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1); */
}
