<br/>	
Consignment Rate is not calculated or save because of following error:
<br/><br/>
<table border="1" style="font-style:normal">
	<tr>
		<td>Consignment No</td>
		<td>Error</td>
	</tr>
	#foreach($sapErrorTo in $sapErroTOlist)
	<tr>
		<td style="text-align: center">$sapErrorTo.transactionNo</td>
		<td style="text-align: center">$sapErrorTo.errorMessage</td>
	</tr>
	#end		
</table>
<br/>
<br/>
From<br/>
System Generated Mail<br/>
Consignment Rate Calculation Scheduler