
<br/>
<br/>	
Following are the failed transactions:
<br/><br/>
<table border=1 style="border-collapse:collapse; text-align: center; font-style:normal">
	<thead style="background-color:#C0C0C0">
		<td>
			Transaction No
		</td>
		<td>
			Exception
		</td>
	</thead>
	#foreach($sapErrorTo in $sapErroTOlist)
	<tr>
		<td style="text-align: center">$sapErrorTo.transactionNo</td>
		<td style="text-align: center">$sapErrorTo.errorMessage</td>
	</tr>
	#end		
	</table>
	
<br/>
<br/>
From<br/>
System Generated Mail <br/>
Test User