<?xml version="1.0" encoding="UTF-8" ?> 
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<import resource="classpath:bcun-service.xml" />
	<import resource="classpath:bcun-dao.xml" />
	<import resource="udaan-queue-hibernate.xml" />
	<import resource="udaan-queue-transactions.xml" />
	<import resource="classpath:framework-mail-service.xml"/>
	<import resource="classpath:framework-sms-service.xml"/> 
	<import resource="classpath:notification-queue-service.xml" />
	<import resource="classpath:notification-queue-dao.xml" />
</beans>
