@charset "utf-8";
/* CSS Document */


/*----------------------------------------------------------------------------- 
[client] First Flight 
version:   
date:      /09/12 
-----------------------------------------------------------------------------*/


/* Remove padding and margin - Browsers apply different styles to different elements. This simple rule ensures that all elements will start by having no margin, padding or border.*/
body {
	padding:0;
	margin:0;
	font: 12px normal Verdana, Geneva, sans-serif;
	color: #000;
	background-color:#fff;
	text-decoration: none;
	line-height:18px;
}
div, p, h1, h2, h3, ul, img {
	padding:0;
	margin:0;
}
ul {
	list-style-type:none;
}
.clear {
	clear: both;
}
/*a:link {
	text-decoration:none;
	color:#ffffff;
}
a:visited {
	text-decoration:none;
	color:#ffffff;
}
a:hover {
	text-decoration:none;
	color:#ffffff;
}
a:active {
	text-decoration:none;
	color:#ffffff;
}*/
img {
	border:0px;
}
img a {
	border:0px;
}
/* Layout 
-----------------------------------------------------------------------------*/

#wraper {
	width:100%;
	margin:0 auto;
	background:url(../images/bg_img.gif) repeat-y;
	border: 0px solid #000;
}
#container {
	width:100%;
	margin:0 auto;
	min-height:500px;
	border: 0px solid #000;
}
/*#contentPanel {
	border: 1px solid #ccc;
	margin:0;
	padding:0;
	height:auto;
	line-height: 20px;
}
*/
/* center panel*/


#maincontent {
	border: 1px solid #ccc;
	height:auto;
	margin: 3px 2px;
	padding:2px;
	line-height: 20px;
}
.mainbody {
	width:100%;	
}



/* Header 
-----------------------------------------------------------------------------*/
#main-header {
	width:100%;
	margin:0 auto;
	color:#000;
	height:85px;
	border: 0px solid #000;
	background-color:#1d407a;
}
#main-header-int {
	width:100%;
	margin:0 auto;
	color:#fff;
	height:65px;
	border: 0px solid #000;
	background-color:#1d407a;
}
.welctxt {
	display:block;
	height:28px;
	float:right;
	padding-top:7px;
	top:2px;
}
#topPanel {
	width:100%;
	background-color:#fff;
}
.login-fflogo {
	width: 543px;
	height: 85px;
	float: left;
	background:#1d407a url(../images/login_logo.png) no-repeat;
	clear:both;
}
.login-apptext {
	width: 284px;
	height: 85px;
	float: right;
	background:url(../images/app_text.png) no-repeat;
}
.fflogo {
	width: 419px;
	height: 65px;
	float: left;
	background:#1d407a url(../images/ff_logo.jpg) no-repeat;
	clear:both;
}
.welcomeMsg {
	margin:6px 10px;
	padding:0;
	font: normal 11px Verdana, Geneva, sans-serif;
	color: #fff;
	border:0;
	float:right;
	text-align:right;
	line-height:18px;
}
.welcomeMsg a:link {
	color:#000;
	text-decoration:none;
	border:0;
}
.welcomeMsg a:hover, .welcomeMsg a:focus, .welcomeMsg a:active {
	color:#fff;
	text-decoration:none;
}
.changePwd {
	margin:12px 2px;	
	font: normal 11px Verdana, Geneva, sans-serif;
	color: #ffffff !important;
}
.changePwd a:link {
	color:#ffffff !important;
	text-decoration:underline ;
	border:0;
}
.changePwd a:hover, .changePwd a:focus, .changePwd a:active {
	color:#ffffff !important;
	text-decoration:underline;
}
.home {
	margin-top:30px;
	margin-right:-219px;
	padding:0;
	font: normal 12px Verdana, Geneva, sans-serif;
	border:0;
	float:right;
	text-align:right;
	line-height:15px;
}
.home a:link {
	color:#213b78;
	text-decoration:none;
	border:0;
}
.home li a:hover, .home li a:focus, .home li a:active {
	color:#e87918;
	text-decoration:underline;
}
/* Login 
-----------------------------------------------------------------------------*/
.loginbox {
	width:700px;
	height: 282px;
	border: 0px solid #ccc;
	margin:10% auto;
	background:#fff url(../images/loginbg.jpg) repeat-x;
}
.loginimage {
	width:386px;
	height: 282px;
	background: url(../images/loginimage.jpg) no-repeat;
	float:left;
}
.loginimagef {
	width:386px;
	height: 282px;
	background: url(../images/loginimagef.jpg) no-repeat;
	float:left;
}
.loginimagec {
	width:386px;
	height: 282px;
	background: url(../images/loginimagec.jpg) no-repeat;
	float:left;
}
.loginform {
	float: right;
	margin:30px 12px;
	width: 290px;
	border: 0px solid #000;
}
.loginform h2 {
	border-style:none;
	font:2em georgia, Verdana, Geneva, sans-serif;
	font-weight: normal;
	color:#000;
	padding:4px;
	margin:0;
}
.loginForm td {
	padding:5px;
}
.logintxt {
	font: 11px normal Verdana, Geneva, sans-serif;
	color: #000;
	float:left;
}
.loginuserpwdtxt {
	font: 11px normal Verdana, Geneva, sans-serif;
	color: #000;
	text-align:right;
	padding: 5px;
}
.logintxt {
	font: 13px normal Verdana, Geneva, sans-serif;
	color: #000;
	text-align:left;
	padding: 5px;
}

.width20 {
	width:20px;
}
.width30 {
	width:30px;
}
.width50 {
	width:50px;
}
.width70 {
	width:70px;
}
.width75 {
	width:75px;
}
.width80 {
	width:80px;
}
.width100 {
	width:100px;
}
.width110 {
	width:110px;
}
.width140 {
	width:140px;
}
.width145 {
	width:145px;
}
.width170 {
	width:170px;
}
.width200 {
	width:200px;
}
.width240 {
	width:240px;
}
.width300 {
	width:300px;
}
.width410 {
	width:410px;
}
.width450 {
	width:450px;
}
.width667 {
	width:667px;
}
.txt13 {
	font-size:13px;
}
a:hover.txtSmall {
	color:#F00;
	text-decoration:none;
}/* unvisited link */
a:link {
	color:#1c449c;
	text-decoration:none;
}/* unvisited link */
a:visited {
	color:#1c449c;
	text-decoration:none;
}  /* visited link */
a:hover {
	color:#003;
	text-decoration:none;
}  /* mouse over link */
.txtSmall {
	font: 11px normal Verdana, Geneva, sans-serif;
	color: #000;
	border:0px solid #9ec5d8;
	vertical-align:top;
}
a.txtSmall {
	font-size:11px;
	color:#000;
	padding:1px 2px;
	text-decoration:underline;
}
a:hover.txtSmall {
	color:#fff;
	text-decoration:underline;
}
/* input */
.txtbox {	
	border:1px solid #9ec5d8;
	/*height:7px;	
	color:#666;
	font: normal 10px Verdana, Geneva, sans-serif;
	padding:7px;*/
	font: normal 11px Verdana, Geneva, sans-serif;
}
.logintxtbox {	
	border:1px solid #9ec5d8;
	padding:3px;
	/*color:#666;
	font: normal 10px Verdana, Geneva, sans-serif;
	*/
	font: normal 11px Verdana, Geneva, sans-serif;
}

selectBox {
	color:#333333;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	border:1px solid #9ec5d8;
}

.inputFieldGrey {
	color:#333333;
	font:1em Verdana, Geneva, sans-serif;
	font-weight: normal;
	border:1px solid #9ec5d8;
}
input:focus, textarea:focus, select:focus, input:hover {
	background : #ffd;
	color : black;
	border:1px solid #9ec5d8;	
}
select {
   color:#333333;
	font:normal 11px Verdana, Geneva, sans-serif;
}

select option {
    color: #000000;
}

/*  form  */
.homebg {
	background:url(../images/homebg.png) no-repeat;
	min-height: 400px;
}
.formContainer {
	float:left;
	width:100%;
}
.formTable {
	font: normal 11px Verdana, Geneva, sans-serif;
	color:#000;
	padding:2px;
	line-height: 26px;	
	background:#fdfdfd;
	border:0px solid #000;
	
}
.formTable td {
	padding:1px
}
.lable {
	text-align:right;
	font:normal 11px Verdana, Geneva, sans-serif;
	padding:2px;
}
.lable1 {
	text-align:left;
	font:normal 11px Verdana, Geneva, sans-serif;
	
	
}
.textfield {
	font: normal 10px Verdana, Geneva, sans-serif;
}

.mandatoryMsg {
	font: normal 10px Verdana, Geneva, sans-serif;
	float:right;
	color:#fff;
	padding-top:3px;
	margin-right:5px;
}
.mandatory {
	color:#f00;
	font: bold 10px Verdana, Geneva, sans-serif;
	text-align: center
	}
.mandatoryMsgf{float:right; margin-top:-20px;font:normal 11px Verdana, Geneva, sans-serif; padding:2px;}
.mandatoryf{color:#FF0000;font:bold 9px Verdana, Geneva, sans-serif; padding-top: 45px;}
.Note {
	color:#f00;
	font: bold 11px Verdana, Geneva, sans-serif;
}
.star {
	color:#FF0000;
	font-size:1.2em;
	font-weight:bold;
	width:auto;
	line-height:1px;
	padding:3px;
}
[disabled], [readonly] {
 background-color: #f9f9f9;
 font-size: 11px;
 padding:1px;
 margin:0 1px;
 color: #555;
}
[disabled] {
 background-color: #fefefe;
 font-size: 11px;
 padding:1px;
 margin:0 1px;
 color: #555;
}
.formbox{
	margin:1px;
	border: 0px #9a9a9a solid;
}
.formbox h1 {
	border-style:none;
	font:1.0em Verdana, Geneva, sans-serif;
	font-weight: bold;
	color:#1d407a;
	background-color:#f7f7f7;
	padding:4px;
	margin:0;
}
.formbox h2 {
	border-top: 1px solid #ff8314;
	font:1.2em Verdana, Geneva, sans-serif;
	font-weight: normal;
	background-color:#f2f2f2;
	color:#3d3d3d;
	position:relative;
	padding:5px;
}
.formbox h3 {
	border-bottom:1px solid #C0D1DD;
	color:#3d3d3d;
	font:0.9em Verdana, Geneva, sans-serif;
	font-weight: normal;
	margin:0 15px 0 15px;
	padding:0 5px 2px 0;
	text-transform:uppercase;
}
.star {
	color:#FF0000;
	font-size:.8em;
	font-weight:bold;
	width:auto;
	line-height:1px;
}
.formbox label, .formbox input, .formbox select {
	display:inline;
	float:left;
	font: normal 11px Verdana, Geneva, sans-serif;
}
.formbox label {
	color:#333333;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	padding-right:10px;
	text-align:right;
	width:150px;
	line-height:15px;
}
.labelbig {
	width:200px !important;
}
.formbox input {
	color:#7b7b7b;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;	
	margin:0 5px 5px 0;
	padding:2px;
	height: 13px;
}

.selecta {
	width:60px !important;
	height:113px;
}
.formbox select {
	color:#7b7b7b;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	margin:0 10px 10px 0;
	width:217px;
	border:1px solid #cbcdd0;
	/*height:18px;*/
}
.clear {
	clear:both;
}
.question {
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.9em;
	margin-top:15px;
	font-weight:bold;
	padding:25px;
	line-height:18px;
}
textarea.textarea {
	border:1px solid #9ec5d8;	
	width:253px;
	color:#333333;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	margin:0 5px 5px 0;
	padding:2px;
}
textarea.textareatbl {
	border:1px solid #9ec5d8;	
	width:250px;
	color:#333333;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	margin:0 5px 5px 0;
	padding:2px;
}
textarea.textareatbla {
	border:1px solid #9ec5d8;	
	width:150px;
	color:#333333;
	font:11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	margin:0 5px 5px 0;
	padding:2px;
}
.calendar {
	display:inline;
	line-height:15px;
	width:15px;
	position: relative;
	padding:0;
	float:left;
}
table.display {
	margin: 0 auto;
	clear: both;
	width: 95%;
	font-size:11px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align:center;
}
table.display td {
	padding: 1px 1px 2px 0px;
	margin: 0px;
	border-bottom: 1px solid #d4e2ed;
	text-align:center;
}
table.display thead th {
	padding: 3px;
	border-bottom: 1px solid #999;
	font-weight: bold;
	background-color:#213b78;
	color: #fff;
}
.header {
	background-color:#81a4d2 !important;
	color:#fff;
	text-align:left;
}
table.display td.center {
	text-align: center !important;
	margin:0 auto !important;
}
/*legend */
.columnuni {
	float:left;
	clear:both;
	width:100%;
	border:0px solid #000;
}
.columnleft {
	float:left;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
	width:450px;
}
.columnleft1 {
	float:right;	
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
	width:450px;
}
.columnleft2 {
	float:left;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
	width: 750px;
}
.formleft {
	width:360px;
	margin:.5em 0 0 0;
	padding:0 10px 2px 10px;
	border:solid 0px #c8c8c8;
	background-color:#fdfdfd;
}
.formleft fieldset {
	padding:20px 0 0 0 !important /*Non-IE6*/;
	padding:0 /*IE6*/;
	margin:0 0 20px 0;
	border:solid 1px #dcdcdc;
}
.contactform fieldset legend {
	margin:0 0 0 5px !important /*Non-IE*/;
	margin:0 0 20px 5px /*IE6*/;
	padding:0 2px 0 2px;
	font:bold 13px Verdana, Geneva, sans-serif;
	color:#505050;
}
.contactform label.left {
	float:left;
	width:100px;
	margin:0 0 0 10px;
	padding:2px;
	font-size:110%;
}
.contactform select.combo {
	width:175px;
	padding:2px;
	border:solid 1px #c8c8c8;
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}
.contactform input.field {
	width:275px;
	padding:2px;
	border:solid 1px #c8c8c8;
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}
.contactform textarea {
	width:175px;
	padding:2px;
	border:solid 1px #c8c8c8;
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}
.contactform input.button {
	float:right;
	width:9.0em;
	margin-right:20px;
	padding:1px !important /*Non-IE6*/;
	padding:0 /*IE6*/;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:110%;
}
.contactform input.button:hover {
	cursor: pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}
/* legend form ends */
/* Text Titles 
-----------------------------------------------------------------------------*/
.title {
	width:100%;
	background-color:#f7f7f7;
	float:left;
	height:25px;
	float:left;
}
.title1 {
	width:100%;
	float:left;
	height:28px;
	float:left;
}
.title2 {
	
	font:1.0em Verdana, Geneva, sans-serif;
	color:#1d407a;
	float:left;
	margin: 0 auto;
	padding:4px;
	font-weight:bold;
}
/* Buttons 
-----------------------------------------------------------------------------*/

.btn {
	background:#e3e3e3 url(../images/loginbbuttonbg.jpg) no-repeat;
	width: 65px;
	height: 23px;
	font: bold 12px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 15px auto;
	border: 0px solid #fff;
	text-align:top;
}
.btn1 {
	background:#e3e3e3 url(../images/loginbbuttonbg.jpg) no-repeat;
	width: 195px;
	height: 23px;
	font: bold 12px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 15px auto;
	border: 0px solid #fff;
	text-align:top;
}
.btnintform {
	background:#f78937 /*url(../images/loginbbuttonbg.jpg) no-repeat*/;
	width: 100px;
	height: 23px;
	font: bold 12px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 4px 2px;
	border: 0px solid #000;
	text-align:top;
	top: 4px;
}
.btnintformbig {
	background:#f78937 /*url(../images/loginbbuttonbg.jpg) no-repeat*/;
	width: 105px;
	height: 23px;
	font: bold 12px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 4px 2px;
	border: 0px solid #000;
	text-align:top;
	top: 4px;
}
.btnintformbigdis{
	background:#ebebeb /*url(../images/loginbbuttonbg.jpg) no-repeat*/;
	width: 105px;
	height: 23px;
	font: bold 12px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 4px 2px;
	border: 0px solid #000;
	text-align:top;
	top: 4px;
}
.btnintformbig1 {
	background:#f78937 /*url(../images/loginbbuttonbg.jpg) no-repeat*/;
	width: 135px;
	height: 23px;
	font: bold 12px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 4px 2px;
	border: 0px solid #000;
	text-align:top;
	top: 4px;
}
.btnintgrid {
	background:#426190 /*url(../images/loginbbuttonbg.jpg) no-repeat*/;
	width: 68px;
	height: 20px;
	font: normal 11px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 4px 2px;
	border: 1px solid #f7f7f7;
	
}
.btnintmultiselectr {
	background:url(../images/rightarrow.png) no-repeat;
	width: 26px;
	height: 27px;
	font: normal 11px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: 10px 7px;
	border: 0px solid #f7f7f7;	
}
.btnintmultiselectl {
	background:url(../images/leftarrow.png) no-repeat;
	width: 26px;
	height: 27px;
	font: normal 11px Verdana, Geneva, sans-serif;
	color:#fff;
	margin: -15px 7px;
	border: 0px solid #f7f7f7;	
}
/*.button_containerfrm {
	margin:0;
	background-color:#fff;
	padding:2px;
	clear:both;
	text-align:right;
}*/
.button_containergrid {
	margin:0;
	font: normal 11px Verdana, Geneva, sans-serif;
	background-color:#e2e2e2;
	padding:0px;
	clear:both;
	text-align:right;
}
.button_containerform {
	margin:0;
	font: normal 11px Verdana, Geneva, sans-serif;
	background-color:#fff;
	padding:0px;
	clear:both;
	text-align:right;
}
.button {
	background:#426190;
	font: normal 11px Verdana, Geneva, sans-serif;
	border:1px #fff solid;	
	color:#fff;
	height: 20px;
	vertical-align:top;
}
.buttonfile {
	background:#fff;
	font: normal 11px Verdana, Geneva, sans-serif;
	border:1px #e3e9ef solid;
	font-size:11px;
	height: 20px;	
	color:#fff;
	padding:5px;
}
.button_disabled {
	background: #a1b0c6;
	border:1px #fff solid;
	font: normal 11px Verdana, Geneva, sans-serif;
	color:#fff;
	padding:6px;
	margin:5px 10px 5px 5px;
	float:right;
}
/* Error - Message  */
.error_msg {
	font: normal 10px Verdana, Geneva, sans-serif;
	padding:6px 10px 5px 10px;
	float:left;
}
/* End Error - Message */

/* ################# Footer ################# */

#main-footer {
	position: fixed;
	width:100%;
	float:left;
	font: 11px normal Verdana, Geneva, sans-serif;
	color:#fff;
	border-top:#fff 0px solid;
	margin:0 auto;
	height: 29px;
	background-color:#1d407a;
	bottom: 0;
}
#footer {
	
	height:auto;
	margin:7px auto;
	text-align:center;
}
#footer p {
	padding:135px 0 0 15px;
	font: 11px normal Verdana, Geneva, sans-serif;
	color: #000;
	height:14px;
	margin:0;
	border:#000 1px solid;
}
#footer p.de {
	padding:0 0 0 165px;
	margin:0;
	line-height:12px;
	width:160px;
	text-align:center;
	color:#000;
	background:none;
}
#footer p.de a {
	color:#000;
	text-decoration:underline;
}
#footer p.de a:hover {
	color:#ccffcc;
}
