#parse("header.vm")
<br/><br/><br/>

Welcome to Udaan,&nbsp please find below your login credential
<br/><br/>
Login ID:- $username
<br/><br/>
Password:- $password
<br/><br/><br/>



#parse("footer.vm")