#parse("header.vm")
<br/><br/><br/>

Welcome to Udaan,&nbsp we have processed your password reset request, &nbsp please find
below the new password
<br/><br/>
Login ID:- $username
<br/><br/>
Password:- $password
<br/><br/><br/>



#parse("footer.vm")