/* FORM RELATED STYLES */
.formContainer {
	border-bottom: 1px #01237d solid;
	background: #fff;
	max-width: 100%;
	overflow-x: auto;
}

.formContainer h2 {
	font: bold 11px Verdana, Geneva, sans-serif;
	color: #fff;
	background: #8ba4ba;
	margin: 0;
	padding: 5px;
	display: block;
	border-bottom: 1px #01237d solid;
}

.mandatoryMsg {
	font: normal 10px Verdana, Geneva, sans-serif;
	float: right;
}

.formTable {
	width: 100%;
	font: normal 10px Verdana, Geneva, sans-serif;
	color: #000000;
}

.formTable td {
	padding: 3px;
}

.lable {
	text-align: right;
	font: normal 10px Verdana, Geneva, sans-serif;
}

.dataBold {
	font-weight: bold;
	color: black;
}

.inputFieldLowerCase {
	font: normal 10px Verdana, Geneva, sans-serif;	
	color: black;
}

.inputField, .data {
	font: normal 10px Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	color: black;
}

.inputFieldDisabled {
	font: normal 10px Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	background-color: #E2E2E2;
}

select, input, textarea {
	font: normal 10px Verdana, Geneva, sans-serif;
}


.errorMsg,.mandatory {
	color: #f00;
	font: bold 11px Verdana, Geneva, sans-serif;
	text-align: center;
}

.mandatory {
	text-align: right;
	padding: 0 5px;
}

.divider {
	background: transparent url(../images/form_Divider.gif) center center
		repeat-x;
}

.buttonContainer {
	padding: 5px;
	background: #cbdaef;
	border-bottom: 1px #01237d solid;
}

.popupButtonContainer {
	padding: 5px;
	background: #cbdaef;
	border-top: 1px #01237d solid;
}

.button {
    background:#8ba4ba url(../images/bg_button.gif) repeat-x; 
	border:1px #01237d solid; 
	font: bold 11px Verdana, Geneva, sans-serif; 
	color:#01237d; 
	padding:2px 5px; 
	min-width:60px;
}

.buttonInner {
	background: #f2f2f2;
	border: 1px #01237d solid;
	font: normal 10px Verdana, Geneva, sans-serif;
	color: #01237d;
	padding: 1px 2px;
	text-transform: capitalize;
}

/* GRID RELATED STYLES */
.gridTableScroll {
	max-width: 100%;
	height: 250px;
	overflow: auto;
	border: 0px yellow solid;
}

.gridTableNoScroll {
	padding: 0;
	max-width: 100%;
}

.gridContainer,.gridContainer2 {
	border-top: 1px #01237d solid !important;
	border-bottom: 1px #01237d solid !important;
	background: #ffffff;
	max-width: 100%;
	margin-top: 10px;
	border: 0px red solid;
}

.gridContainer2 {
	margin-top: 0px;
}

.paginationContainer {
	font: bold 12px Verdana, Geneva, sans-serif;
	color: #fff;
	background: #8ba4ba;
	margin: 0;
	padding: 5px;
	display: block;
	border-bottom: 1px #01237d solid;
}

.gridTable {
	max-width: 100%;
	color: #000000;
	padding: 0px;
	border: 1px #fff solid;
	border: 0px green solid;

}

.gridTable th {
	background: #cddcef;
	border-right: 1px #fff solid;
	padding: 5px 2px;
	font: bold 9px Verdana, Geneva, sans-serif;
	color: #355c8c;
	text-align: center;
}

.gridTable td {
	border-right: 1px #cccccc dotted;
	border-bottom: 1px #cccccc dotted;
	padding: 5px;
	font: normal 11px Verdana, Geneva, sans-serif;
}

.gridTableForMnp {
	/*width: 100%;*/
	color: #000;
	padding: 0px;
	border: 1px #fff solid;
}

.gridTableForMnp th {
	background: #cddcef;
	border-right: 1px #fff solid;
	padding: 5px 2px;
	font: bold 11px Verdana, Geneva, sans-serif;
	color: #01237d
}

.gridTableForMnp td {
	/*border-right: 1px #ccc dotted;*/
	/*border-bottom: 1px #ccc dotted;*/
	padding: 5px 5px 5px 5px;
	font: normal 11px Verdana, Geneva, sans-serif;
}

.even {
	background: #f2f2f2;
}

.bold td {
	font: bold 11px Verdana, Geneva, sans-serif;
	background: #CCC;
	border-right: 1px #fff dotted;
}

.deliveryMsg {
	font: bold 11px Verdana, Geneva, sans-serif;
	background: #CCC;
	padding: 5px;
}

/* PAGUNATION RELATED STYLES */
.pagination {
	padding: 1px;
	float: right;
}

.pagination ul {
	margin: 0;
	padding: 0;
	text-align: left;
	/*Set to "right" to right align pagination interface*/
	font-size: 11px
}

.pagination li {
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
	font-weight: normal;
}

.pagination a,.pagination a:visited {
	padding: 0 5px;
	border: 1px solid #01237d;
	text-decoration: none;
	color: #01237d;
}

.pagination a:hover,.pagination a:active {
	border: 1px solid #01237d;
	color: #01237d;
	background-color: #FFF;
}

.pagination a.currentpage {
	background-color: #fff;
	color: #01237d !important;
	border-color: #01237d;
	font-weight: bold;
	cursor: default;
}

.pagination a.disablelink,.pagination a.disablelink:hover {
	background-color: white;
	cursor: default;
	color: #929292;
	border-color: #01237d;
	font-weight: bold !important;
}

.pagination a.prevnext {
	font-weight: bold;
	background: #01237d;
	color: #fff
}

.pagination a.prevnext:hover {
	font-weight: bold;
	background: #01237d;
	color: #01237d;
	background: #fff
}

/*FIRST LEVEL NAVIGATION IN RED*/
.firstLevelNav {
	background: transparent url(../images/1LevelNav.jpg) no-repeat;
      width: 155px;
      padding-top: 0px;
      border: 0px #f00 solid;
      height: 28px;
      position: relative;
      z-index: 1;
}

.firstLevelNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.firstLevelNav ul li {
	position: relative;
	display: inline;
	float: left;
	font-variant: small-caps;
	font: bold 11px Verdana, Geneva, sans-serif
}

.firstLevelNav ul li ul li {
	background-color: #F3F3F3; /*overall menu background color*/
	font: normal 11px Verdana, Geneva, sans-serif
}

/*Top level menu link items style*/
.firstLevelNav ul li a {
	display: block;
	width: 130px; /*Width of top level menu link items*/
	padding: 8px 8px;
	border: 0px solid black;
	border-left-width: 0;
	text-decoration: none;
	color: white;
}

/*1st sub level menu*/
.firstLevelNav ul li ul {
	left: 0;
	position: absolute;
	top: 1em; /* no need to change, as true value set by script */
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.firstLevelNav ul li ul li {
	display: list-item;
	float: none;
}

/* Sub level menu links style */
.firstLevelNav ul li ul li a {
	display: block;
	width: 140px; /*width of sub menu levels*/
	color: #000;
	text-decoration: none;
	padding: 5px 5px;
	border: 1px solid #999;
}

.firstLevelNav ul li a:hover {
	color: white;
}

.firstLevelNav ul li ul li a:hover {
	background-color: #db0503;
	color: white;
}

/*Background image for top level menu list links */
.firstLevelNav .mainfoldericon {
	background: transparent url(../images/arrow-down.gif) no-repeat center
		right;
}

/*Background image for subsequent level menu list links */
.firstLevelNav .subfoldericon {
	background: transparent url(arrow-right.gif) no-repeat center right;
}

* html p#iepara {
	/*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
	padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .firstLevelNav ul li {
	float: left;
	height: 1%;
}

* html .firstLevelNav ul li a {
	height: 1%;
}

/* End */ /* POPUP */
.popupContainer {
	min-height: 85px;
	z-index: 1000;
	border: 2px #01237d solid;
	background: #ffffff;
}

.popupGridContainer{
	border: 1px #01237d solid;
	border-left: 0px;
	border-right:0px;
	margin: 5px 0px;
	background: #ffffff;
}

.popupTable {
	font: normal 11px Verdana, Geneva, sans-serif;
	border: 0px #cccccc solid;
	background: #fff;
	padding: 1px;
	color: #666666;	
}

.popupGridTable{
	width: 100%;
	color: #000000;
	padding: 0px;
	border: 1px #ffffff solid;
}

.popupGridTable th{
	background: #cddcef;
	border-right: 1px #ffffff solid;
	padding: 5px 2px;
	font: bold 11px Verdana, Geneva, sans-serif;
	color: #666666;
}

.popupGridTable td{
	border-right: 1px #cccccc dotted;
	border-bottom: 1px #cccccc dotted;
	padding: 5px;
	font: normal 11px Verdana, Geneva, sans-serif;	
}

.popupTable caption, .popupGridTable caption {
	font: bold 12px Verdana, Geneva, sans-serif;
	color: #fff;
	background: #8ba4ba;
	text-align: left;
	padding: 4px;
	border-bottom: 1px #01237d solid;
}

div.toggleshow {
background: #fff;
border: #000 solid 0px;
color: #000;
display: block;
}

div.togglehide {
background: #fff;
border: #000 solid 0px;
color: #000;
display: none;
}

#bg_login{
	width:700px;
	height:261px;
	margin:100px auto !important;
	margin-top: 10px; 
	margin-bottom:0px !important;
	border:1px #000000 solid;
	background-image:url(../images/login_bg.jpg);
	}
.loginContainer{
		width:100%; 
		margin:100px auto;		
		font:normal 10px verdana; 
		text-align:center; 
		margin-bottom:0px;		
	}

.copyrightInfo{
	width:100%; margin:5px auto; font:normal 10px verdana; color:#000000; text-align:center;
	}

#leftlogin{ 
	width:400px; 
	height:261px; 
	float:left; 
	background-image:url(../images/bg_logo.jpg); 
	}

#rightlogin{ 
	width:290px; 
	/*height:261px;*/  

}
	
.login_text {
	font: normal 11px Verdana,Geneva,sans-serif; 
	color:#FFFFFF;
}

.login_header {
	font: bold 11px Verdana,Geneva,sans-serif; 
	color:#FFFFFF;
	text-align: center;
}

a.backlink:link {
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10px; 
	color: #FFFFFF; 
	text-decoration:none;
}

a.backlink:visited {
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10px; 
	color: #FFFFFF; 
	text-decoration:none;
	}

a.backlink:hover {
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10px; 
	color: #FFFFFF; 
	text-decoration:underline;
	}

a.backlink:active {
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10px; 
	color: #FFFFFF; 
	text-decoration:none;
}

.popUpHeader {
	font: bold 12px Verdana, Geneva, sans-serif;
	color: #fff;
	background: #8ba4ba;
	margin: 0;
	padding: 5px;
	display: block;
	border-bottom: 1px #01237d solid;
}

.gridTableForCBPopUP {
	/*width: 100%;*/
	color: #000;
	padding: 0px;
	//border: 1px #DCDCDC solid;
}

.gridTableForCBPopUP th {
	background: #cddcef;
	border-right: 1px #fff solid;
	padding: 5px 2px;
	font: bold 11px Verdana, Geneva, sans-serif;
	color: #01237d
}

.gridTableForCBPopUP td {
	/*border-right: 1px #ccc dotted;*/
	/*border-bottom: 1px #ccc dotted;*/
	padding: 5px 5px 5px 5px;
	font: normal 11px Verdana, Geneva, sans-serif;

}

.landingPageImage{
	width: 588px;
	height: 222px;
	border:0px #ffffff solid; 
	margin: 100px auto !important;	
	/*margin-top: 100px;*/	
	background-image:url(../images/landing_image.jpg); 
}

.inputFieldNumeric {
	font: normal 10px Verdana, Geneva, sans-serif;
	text-align: right;
	color: black;
}
.inputFieldNumericDisabled {
	font: normal 10px Verdana, Geneva, sans-serif;
	text-align: right;
	color: black;
	background-color: #E2E2E2;
}
