@charset "utf-8";

@import url("content.css");

/* CSS Document */
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	/*height: 100%;*/
	background:#C0C0C0;
}

html {
	height: 100%;
}

* {
	margin: 0;	
}
b {
	font-size: 110%;
}

em {
	color: red;
}

#maincontainer {
	/*background: #C0C0C0;*/
	border:0px #f00 solid; 
	min-height: 100%; 
	height: auto !important; 
	/*height: 100%;*/
}

.topsection {
	background: #FFFFFF;
	height: 40px !important; /*Height of top section*/
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.topsection .innerContainer {
	margin: 0px;
	/*Margins for inner DIV inside each column (to provide padding)*/
	padding: 0px;
	border: 0px #01237d solid;
}
.innerContainer{height:40px;}
.innerNavContainer {
	margin: 0px;
	/*Margins for inner DIV inside each column (to provide padding)*/
	padding: 0px;
	border: 1px #000 solid;
	border-left: 0;
	border-right: 0;
	background: url(../images/Bg_TopNav.jpg) repeat-x;
	height: 28px;
}

.firstNav {
	background: url(../images/1LevelNav.jpg) no-repeat;
	width: 150px;
	display: block;
	height: 28px;
}

.firstNav a {
	font: bold 12px Verdana, Geneva, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	vertical-align: middle;
	padding: 5px 0 0 10px
}

.secondLvlNav {
	border: 0px #f0f solid;
	margin-left: 160px;
	position: absolute;
	padding-top: 6px;
	padding-bottom: 8px;
	color: #fff;
}

.secondLvlNav ul {
	display: inline;
	font: bold 10px Verdana, Geneva, sans-serif;
	margin: 0;
	padding-left: 0px
}

.secondLvlNav ul li {
	display: inline;
	margin: 0;
	border: 0px #f00 solid
}

.secondLvlNav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 6px 5px 9px 10px
}

.secondLvlNav ul li a:hover {
	text-decoration: none;
	color: #12347d;
	background: #e7eef6
}

.current {
	text-decoration: none;
	color: #12347d !important;
	background: #e7eef6
}

.HELIOSLogo {
	width: 175px;
	height: 40px;
}

.welcomeMsg,.officeDetails {
	position: absolute;
	top: 5px;
	left: 185px;
	margin: 0;
	padding: 0;
	font: normal 10px Verdana, Geneva, sans-serif;
}

.officeDetails {
	top: 20px;
	font-weight: bold;
}

.searchContainer {
	top: 5px;
	right: 5px;
	position: absolute;
	text-align: right;
	white-space: nowrap;
	font: normal 10px Verdana, Geneva, sans-serif;
	margin-right: 10px;
	padding: 0;
}

.searchContainer a {
	padding: 0;
	margin: 0 0 0 5px;
}

.searchContainer p {
	margin: 0;
	padding: 0;
}

.search {
	margin-top: 10px;
	vertical-align: top;
	border: 0px #f00 solid;
}

.search select {
	font: normal 10px Verdana, Geneva, sans-serif;
}

.search input {
	font: normal 10px Verdana, Geneva, sans-serif;
	margin-right: -4px;
}

.searchButton {
	background: url(../images/searchButton.gif) center no-repeat;
	width: 30px;
	height: 20px;
	border: none;
	text-indent: -9999px;
	word-spacing: 0px;
	margin: 0px 0px -4px -4px;
}

.contentwrapper {
	float: left;
	width: 100%;
	/*min-height: 100%;
	height: auto !important;*/	
	border: 0px red solid;
}
.bookingContentwrapper {
	float: left;
	width: 100%;
	/*min-height: 100%;
	height: auto !important;*/	
	border: 0px red solid;
}
.contentcolumn {
	margin-left: 0px;
}
.bookingContentcolumn {
	margin-left: 0px;
}

.contentcolumn .contentContainer {
	margin: 5px;
	/*Margins for inner DIV inside each column (to provide padding)*/
	padding: 0px;
	border: 1px #01237d solid !important;
	background: #efeef4;
	overflow-y: auto;
	/*height: 100%*/
}

.contentcolumn .headerContentContainer {
	margin: 5px;
	/*Margins for inner DIV inside each column (to provide padding)*/
	padding: 0px;
	border: 1px #01237d solid;
	background: #efeef4;
	/*overflow-y: auto;*/
	/*height: 97px;*/
}

.bookingContentcolumn .bookingcontentContainer {
	margin: 5px;
	margin-top: 0px;
	/*Margins for inner DIV inside each column (to provide padding)*/
	padding: 0px;
	border: 1px #01237d solid;
	background: #efeef4;
	overflow-y: auto;
}

.leftNavColumn {
	float: left;
	width: 185px !important; /*Width of left column*/
	margin-left: 0%;
}

.leftNavColumn .leftNavContainer {
	margin: 5px;
	margin-right: 0px;
	border: 1px #01237d solid;
	background: #ccdbee url(../images/bg_LeftCol.gif) repeat-y;
	padding-right:0px;
	width: 175px !important;
}

.leftNavColumn .leftNavContainer h1 {
	font: bold 12px Verdana, Geneva, sans-serif;
	color: #fff;
	padding: 5px 10px;
	margin: 0;
	background: #8ba4ba;
	border-bottom: 2px #fff solid
}

.leftNavColumn .leftNavContainer h1 img {
	float: right;
	padding-right: 0px;
}

/*Third Level Navigation <UI> <LI>*/
.leftNavScroll{
	overflow: auto;
}

/** New style navigation  ***/
.glossymenu {list-style-type: none; margin: 0; padding: 0; margin-left:0px; height:400px; overflow:auto;}
.glossymenu li{ position: relative; vertical-align: middle; margin:0px;}
.glossymenu li span{display:block;}
.glossymenu li a {font: normal 9px Verdana, Helvetica, sans-serif; color: black; display: block; padding: 3px 0; text-decoration: none; border-bottom: 1px #fff solid; vertical-align: middle;}
.glossymenu li a span{padding: 3px 0 3px 0; text-decoration: none; vertical-align: middle; width:125px; margin-left:30px;}
.glossymenu li a img{padding:3px 3px 3px 5px; vertical-align: middle; float:left;}
.glossymenu li a:visited, .glossymenu li a:active{color: black;}
.glossymenu li a:hover{background: #fff; text-decoration: none}
.glossymenu li selected{background: #fff;}


/* Holly Hack for IE \*/
* html .glossymenu li {
	float: left;
	height: 1%;
}

* html .glossymenu li a {
	height: 1%;
}

#footer {
	clear: left;
	min-width: 100%;
	height: 23px;
	background: #01237d;
	padding: 0px;
	font: bold 10px Verdana, Geneva, sans-serif;
	position: absolute;
	bottom: 0;
}
#footer div {float: right; border: 0px #ff0 solid;}
#footer img {
	float: left;
	vertical-align: middle;
}
#footer div a {
	color: #FF0;
	text-decoration: none;
	vertical-align: middle;
	float: left;
}
.buttonGreyOut {
	padding: 2px;
	background: #cccccc;
	border: 1px #01237d solid;
	font: bold 11px Verdana, Geneva, sans-serif;
	color: #01237d;
	
}
.leftNavWhiteBg{
	background: #fff;
}