/* #Site Styles
================================================== */

/*  		* { box-sizing: border-box; }
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */

/*
@font-face {
	font-family: 'Museo-700';
	src: url("../fonts/Museo700.ttf");
}

*/

div.right { text-align: right; }
div.center { text-align: center; }

.hoverme:hover{opacity:0.7; cursor: pointer}
.hand:hover{cursor: pointer}

a { text-decoration: none; }

img {
	width: 100%;
	height: auto;
	border:none;
	display: block;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.asis {
	width: auto;
	display: inline-block;
}

.Forms {
	margin: 20px;
	display: inline-block;
	width: 300px;
	height: 550px;
}

.Code {
	margin: 10px;
}

.Data {
	border: 1px solid #CCC;
	border-radius: 8px;
	width: 300px;
	height: 480px;
	padding: 0px;
	background-color: #FFF; /* #F0F0Fa; */
	overflow: hidden;
	margin: 20px 0px 40px 20px;
	display: inline-block;
}

.Data h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
	color: #9FADE5;
	background-color: #E9F1FB;
	height: 23px;
	line-height: 23px; /* centers text */
	text-align: left;
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 0px 0px;;
}

.Form {
//	border: 1px solid #4A90E2;
	border: 1px solid #CCC;
	border-radius: 8px;
	width: 300px;
	height: 260px;
	padding: 0px;
	background-color: #FFF; /* #F0F0Fa; */
	overflow: hidden;
	margin-top: 20px;

}

.Form h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
	color: #9FADE5;
	background-color: #E9F1FB;
	height: 23px;
	line-height: 23px; /* centers text */
	text-align: left;
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 0px 0px;;
}

.Form input {
	margin: 0px 0px 10px 20px;
	width: 250px;
	height: 26px;
}

.Form button {
	margin: 0px 0px 10px 20px;
	padding: 0px 0px 0px 0px;
	width: 120px;
	height: 26px;
	line-height: 23px; /* centers text */
	background-color: #2E4BB1;
	color: white;
}

.Form label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	font-weight: normal;
	line-height: 12px; /* centers text */
	color: #777777;
	margin: 0px 0px 0px 28px;
}

.Form .Status1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	color: #555;
	text-align: center;
	background-color: #D9E1FB;
	width: 67px;
	height: 24px;
	line-height: 24px; /* centers text */
	margin: 0px 0px 0px 200px;
	display: inline-block;
	box-sizing: border-box;
}

.Form .Status2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	color: #555;
	text-align: center;
//	background-color: #F8F0E3;
	background-color: #D9D1F0;
	width: 73px;
	height: 24px;
	line-height: 24px; /* centers text */
	margin: 0px 0px 0px 0px;
	display: inline-block;
	box-sizing: border-box;
}

.Form .Field {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	color: #777777;
	text-align: left;
	border: 1px solid #F5A623;
	border-radius: 4px;
	width: 140px;
	height: 26px;
	line-height: 26px; /* centers text */
	padding: 0px 8px 0px 8px;
	margin: 0px 0px 0px 20px;
	display: inline-block;
	box-sizing: border-box;
}

.Icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.box {
	margin-top: 3px;
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	overflow: hidden;
	cursor: pointer;
}

.box:hover {
	border: 2px solid #38AEE6;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.Header {
	position: fixed;
	top: 0px;
    z-index: 1;
	display: block; /* ?? */
	
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 10px 10px 0px 20px;
	background-color: #EFEFF4;	
}

input[type="submit"] {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
	background: #397EF3;
	color: white;
	border-radius: 4px;
	height: 42px;
	line-height: 42px; /* centers text */
	text-align: center;
	margin: auto;
	cursor: pointer;
	border:none;
}

input[type="submit"]:hover {
    background: #3073E8;
	color: white;
}

h1 {
	color: #404040;
	margin: 0px 0px 4px 0;
	font-weight: bold;
	
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0rem;
}



/* #Smaller Screen/device
================================================== */
@media screen and (max-width : 650px) {

/*...	
h1 	{
	font-size: 40px;
	}

h2 	{
	font-size: 24px;
	}
...*/
	
}

/* end
================================================== */
