<br/><br/><br/>

Dear $salesPersonName,


This is to inform you that Contract number $rateContractNumber  for customer $customerName has been created on $createdDate whose effective period is $effectiveFrom to $effectiveTo


<br/><br/><br/>



#parse("footer.vm")