#parse("header.vm")
<br/><br/><br/>

Dear $name,
Kindly note that,&nbsp Contract No. $contractNo for $customerName-$customerCode is about to expire in $days days,&nbsp
<br/><br/>
and the expiry date as per contract is $endDate.

<br/><br/><br/>
	

#parse("footer.vm")

