<div class="combinedWrapper">
	<label style="font-weight: bold">{{ labelName || "Zip Code/Postal Code"}}</label>
	<form name="zipcodeForm">
		<div class="eleShowErrorMsg">
		<!-- Input fields for Country: US -->
		<span ng-if="countryCode === 'US'">
			<input 
				name="zip1"
				ng-model="zipCode.zip1" 
				type="text" 
				class="inputWidthFull" 
				ng-maxlength="5" 
				ng-change="inputValidate()" 
				placeholder="Zip Code"
				swa-focus-no-validate 
				ng-pattern="/^[0-9]{5}$/">
			</input>
			<span ng-if="!zipcodeForm.zip1.$focused" ng-messages="zipcodeForm.zip1.$error">
				<error ng-message="pattern">Zip Code must be 5 numbers</error>
			</span>
			<input 
				name="zip2"
				ng-model="zipCode.zip2" 
				type="text" 
				ng-maxlength="4" 
				ng-change="inputValidate()"
				swa-focus-no-validate 
				ng-pattern="/^[0-9]{4}$/">
			</input>
			<span ng-if="!zipcodeForm.zip2.$focused" ng-messages="zipcodeForm.zip2.$error">
				<error ng-message="pattern">Zip Code must be 4 numbers</error>
			</span>
		</span>
		<!-- Input fields for Country: CA -->
		<span ng-if="countryCode === 'CA'">
			<input 
				name="postalCodeCA"
				ng-model="zipCode.postalCode" 
				ng-maxlength="9" 
				class="inputWidthFull" 
				type="text" 
				swa-focus-no-validate 
				ng-change="inputValidate()" 
				placeholder="Postal Code"
				ng-pattern="/^[A-Za-z][0-9][A-Za-z]\ [0-9][A-Za-z][0-9]$/">
			<span ng-if="!zipcodeForm.postalCodeCA.$focused" ng-messages="zipcodeForm.postalCodeCA.$error">
				<error ng-message="pattern">Postal Code must be in format A1A 1A1</error>
			</span>
		</span>
		<!-- Input fields for Country: CA -->
		<span ng-if="countryCode !== 'CA' && countryCode !== 'US'">
			<input 
				name="postalCodeInt"
				ng-model="zipCode.postalCode" 
				ng-maxlength="9" 
				class="inputWidthFull" 
				type="text" 
				ng-change="inputValidate()" 
				swa-focus-no-validate 
				placeholder="Postal Code"
				ng-pattern="/^[0-9]{9}$/">
			<span ng-if="!zipcodeForm.postalCodeInt.$focused" ng-messages="zipcodeForm.postalCodeInt.$error">
				<error ng-message="pattern">Postal Code must be 9 numbers</error>
			</span>
		</span>
		</div>
	</form>
	<!-- <div>Zipcode JSON: <br><pre>{{ zipCode | json }}<pre></div> -->
</div>