<div class="Form" style="position: absolute; left: 20px; top: 360px;">
	<h1>FORM: SHIP TO</h1><br>
	
	<label>CITY</label>
	<input ng-model="ShipTo.city" set-focus-if="ShipTo.focus_city" type="text"><br>
	
	<label>STATE</label>
	<input ng-model="ShipTo.state" set-focus-if="ShipTo.focus_state" type="text"><br>
	
	<label>ZIP</label>
	<input ng-model="ShipTo.zipcode" set-focus-if="ShipTo.focus_zipcode" type="text"><br>
	
	<button ng-click="OnSameCity()">SAME CITY</button><br>
	<button ng-click="OnNext()">NEXT</button>
	
</div>