 /**
 This stylesheet is part of the java script calendar and date picker
  **/
body{font-family: Verdana, Geneva, sans-serif;}

#calender {
	width: 200px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	}
#calenderTable   { 
	border-style: outset;
	border-width: 2px;
	border-color: #01237d;
	background-color: #fff;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	margin-left: 15px;
	}

#calenderTableHead TR {
	background-color: #8ba4ba;
	font:bold 8pt Verdana, Geneva, sans-serif;
}
#calenderTableHead TR select {	
	font: bold 8pt Verdana, Geneva, sans-serif;
	color:#01237d;
}

#calenderTableDays TR {
	background-color: #cbdaef;
	color: #01237d;
	font:bold 8pt Verdana, Geneva, sans-serif;
	text-align: center;
	}

.normalDay {
	border: 1px solid #01237d;
	cursor: pointer;
	text-align:center;
	}

.hlDay {
	border: 1px solid #01237d;
	background-color: #01237d;
	cursor: pointer;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-align:center;
	}

.toDay {
	border: 1px solid #01237d;
	background-color: #01237d;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-align:center;
	}

.choosenDay {
	border: 1px #000000;
	background-color: #585858;
	color: #E6E6E6;
	font-weight: bold;
	cursor: pointer;
	text-align:center;
	}